.bg-transparent{
    background: #345333;
}

.carousel-caption{
    bottom: 10% !important;
    
}

.header{
    background-color: #e11f30;
}

.boton-banner{
    border-radius: 40px;
    padding: 20px;
    float: right;

}

